n8n/workflows/ai-agent-tool-verifier-20260313.json
{
    "updatedAt": "2026-03-13T09:52:59.689Z",
    "createdAt": "2026-03-13T07:49:41.695Z",
    "id": "eexzkXQyWnN8tVMN",
    "name": "ai-agent-tool-verifier-20260313",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-agent-tool-verifier",
                "responseMode": "responseNode",
                "options": {}
            },
            "webhookId": "ai-agent-tool-verifier-20260313"
        },
        {
            "id": "2",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                760,
                300
            ],
            "parameters": {
                "promptType": "define",
                "text": "={{ JSON.stringify($json) }}",
                "options": {
                    "systemMessage": "You are an API workflow agent. Accept JSON with session_id, action, input, context.request_id, context.timestamp. Supported actions: fetch_and_process, store_context, fetch_and_combine. Use the HTTP Request tool for external data and the Code tool as the final response formatter. For fetch_and_process success, return exactly { status, session_id, request_id, result, tools_used, execution_time_ms }. For HTTP or network failures, return exactly { status: \"error\", session_id, request_id, error: { type, message, retries, last_attempt_url }, fallback_response, tools_used, execution_time_ms }. For fetch_and_combine, include memory_references when cached context is used. Always call the Code tool before responding, always include session_id and request_id, never return free-form prose, keep HTTP retries bounded to 3, and set tools_used using only http_request and code.",
                    "maxIterations": 5,
                    "returnIntermediateSteps": true
                }
            }
        },
        {
            "id": "3",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                620,
                520
            ],
            "parameters": {
                "model": "gpt-4",
                "options": {
                    "temperature": 0.1,
                    "baseURL": "http://192.168.50.109:11434/v1"
                }
            }
        },
        {
            "id": "4",
            "name": "Session Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                820,
                520
            ],
            "parameters": {
                "sessionIdType": "fromInput",
                "sessionKey": "={{ $json.session_id }}",
                "contextWindowLength": 10
            }
        },
        {
            "id": "5",
            "name": "HTTP Request Tool",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                1040,
                180
            ],
            "parameters": {
                "toolDescription": "Use this tool for external HTTP requests. Provide the full URL and the HTTP method needed for the requested action.",
                "method": "={{ $fromAI('method', 'HTTP method: GET, POST, PUT, DELETE', 'string') }}",
                "url": "={{ $fromAI('url', 'Full URL to request', 'string') }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $fromAI('body', 'Optional JSON body', 'json') }}",
                "options": {
                    "timeout": 10000
                }
            }
        },
        {
            "id": "6",
            "name": "Code Tool",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1.1,
            "position": [
                1040,
                420
            ],
            "parameters": {
                "name": "format_contract",
                "description": "Format workflow results into the verifier contract for success, error, and memory continuity responses.",
                "jsCode": "const now = Date.now()\nconst ctx = query.context && typeof query.context === 'object' ? query.context : {}\nconst sid = query.session_id ?? ctx.session_id ?? null\nconst req = query.request_id ?? ctx.request_id ?? null\nconst pick = Array.isArray(query.pick) ? query.pick : []\nconst src = query.result ?? query.data ?? query.input ?? null\nconst val = pick.length && src && typeof src === 'object' && !Array.isArray(src)\n  ? Object.fromEntries(pick.filter((key) => key in src).map((key) => [key, src[key]]))\n  : src\nconst started = typeof ctx.timestamp === 'string' ? Date.parse(ctx.timestamp) : Number.NaN\nconst time = Number.isFinite(started) ? Math.max(0, now - started) : 0\nconst tools = Array.isArray(query.tools_used)\n  ? Array.from(new Set(query.tools_used.filter(Boolean)))\n  : []\nconst used = tools.length ? tools : ['code']\nconst memory = query.memory_references && typeof query.memory_references === 'object'\n  ? query.memory_references\n  : undefined\n\nif (query.status === 'error' || query.error) {\n  const err = query.error && typeof query.error === 'object' ? query.error : {}\n  return JSON.stringify({\n    status: 'error',\n    session_id: sid,\n    request_id: req,\n    error: {\n      type: err.type ?? query.type ?? 'workflow_error',\n      message: err.message ?? query.message ?? 'Workflow execution failed',\n      retries: Number.isFinite(err.retries) ? err.retries : Number.isFinite(query.retries) ? query.retries : 0,\n      last_attempt_url: err.last_attempt_url ?? query.url ?? query.last_attempt_url ?? null,\n    },\n    fallback_response: query.fallback_response ?? {\n      available: true,\n      message: 'Unable to fetch data from external source',\n    },\n    tools_used: used,\n    execution_time_ms: time,\n  })\n}\n\nreturn JSON.stringify({\n  status: query.status ?? 'success',\n  session_id: sid,\n  request_id: req,\n  result: val,\n  ...(memory ? { memory_references: memory } : {}),\n  tools_used: used,\n  execution_time_ms: time,\n})",
                "specifyInputSchema": true,
                "jsonSchemaExample": "{\n  \"status\": \"success\",\n  \"session_id\": \"test-session-001\",\n  \"context\": {\"request_id\": \"req_001\", \"timestamp\": \"2026-03-13T10:00:00Z\"},\n  \"result\": {\"id\": 1, \"title\": \"example\"},\n  \"tools_used\": [\"http_request\", \"code\"],\n  \"memory_references\": {\"keys_retrieved\": [\"user_preference\"]}\n}"
            }
        },
        {
            "id": "7",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                1260,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Session Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request Tool": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Code Tool": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "saveExecutionProgress": true,
        "saveManualExecutions": true,
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all",
        "executionTimeout": 3600,
        "timezone": "UTC",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "cafc6231-fb77-4de3-8e28-3df3965f646c",
    "activeVersionId": "cafc6231-fb77-4de3-8e28-3df3965f646c",
    "versionCounter": 12,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-13T07:49:41.695Z",
            "createdAt": "2026-03-13T07:49:41.695Z",
            "role": "workflow:owner",
            "workflowId": "eexzkXQyWnN8tVMN",
            "projectId": "zHsUy9n7V6UwMbDk",
            "project": {
                "updatedAt": "2026-03-13T00:15:47.965Z",
                "createdAt": "2026-03-12T15:49:43.032Z",
                "id": "zHsUy9n7V6UwMbDk",
                "name": "Admin Lee <admin@jclee.me>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "13a95845-a46a-4855-b706-eadada0dd04c"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-13T09:52:59.690Z",
        "createdAt": "2026-03-13T09:52:59.690Z",
        "versionId": "cafc6231-fb77-4de3-8e28-3df3965f646c",
        "workflowId": "eexzkXQyWnN8tVMN",
        "nodes": [
            {
                "id": "1",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 1,
                "position": [
                    250,
                    300
                ],
                "parameters": {
                    "httpMethod": "POST",
                    "path": "ai-agent-tool-verifier",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "webhookId": "ai-agent-tool-verifier-20260313"
            },
            {
                "id": "2",
                "name": "AI Agent",
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 2.2,
                "position": [
                    760,
                    300
                ],
                "parameters": {
                    "promptType": "define",
                    "text": "={{ JSON.stringify($json) }}",
                    "options": {
                        "systemMessage": "You are an API workflow agent. Accept JSON with session_id, action, input, context.request_id, context.timestamp. Supported actions: fetch_and_process, store_context, fetch_and_combine. Use the HTTP Request tool for external data and the Code tool as the final response formatter. For fetch_and_process success, return exactly { status, session_id, request_id, result, tools_used, execution_time_ms }. For HTTP or network failures, return exactly { status: \"error\", session_id, request_id, error: { type, message, retries, last_attempt_url }, fallback_response, tools_used, execution_time_ms }. For fetch_and_combine, include memory_references when cached context is used. Always call the Code tool before responding, always include session_id and request_id, never return free-form prose, keep HTTP retries bounded to 3, and set tools_used using only http_request and code.",
                        "maxIterations": 5,
                        "returnIntermediateSteps": true
                    }
                }
            },
            {
                "id": "3",
                "name": "OpenAI Chat Model",
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1,
                "position": [
                    620,
                    520
                ],
                "parameters": {
                    "model": "gpt-4",
                    "options": {
                        "temperature": 0.1,
                        "baseURL": "http://192.168.50.109:11434/v1"
                    }
                }
            },
            {
                "id": "4",
                "name": "Session Memory",
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    820,
                    520
                ],
                "parameters": {
                    "sessionIdType": "fromInput",
                    "sessionKey": "={{ $json.session_id }}",
                    "contextWindowLength": 10
                }
            },
            {
                "id": "5",
                "name": "HTTP Request Tool",
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1.1,
                "position": [
                    1040,
                    180
                ],
                "parameters": {
                    "toolDescription": "Use this tool for external HTTP requests. Provide the full URL and the HTTP method needed for the requested action.",
                    "method": "={{ $fromAI('method', 'HTTP method: GET, POST, PUT, DELETE', 'string') }}",
                    "url": "={{ $fromAI('url', 'Full URL to request', 'string') }}",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ $fromAI('body', 'Optional JSON body', 'json') }}",
                    "options": {
                        "timeout": 10000
                    }
                }
            },
            {
                "id": "6",
                "name": "Code Tool",
                "type": "@n8n/n8n-nodes-langchain.toolCode",
                "typeVersion": 1.1,
                "position": [
                    1040,
                    420
                ],
                "parameters": {
                    "name": "format_contract",
                    "description": "Format workflow results into the verifier contract for success, error, and memory continuity responses.",
                    "jsCode": "const now = Date.now()\nconst ctx = query.context && typeof query.context === 'object' ? query.context : {}\nconst sid = query.session_id ?? ctx.session_id ?? null\nconst req = query.request_id ?? ctx.request_id ?? null\nconst pick = Array.isArray(query.pick) ? query.pick : []\nconst src = query.result ?? query.data ?? query.input ?? null\nconst val = pick.length && src && typeof src === 'object' && !Array.isArray(src)\n  ? Object.fromEntries(pick.filter((key) => key in src).map((key) => [key, src[key]]))\n  : src\nconst started = typeof ctx.timestamp === 'string' ? Date.parse(ctx.timestamp) : Number.NaN\nconst time = Number.isFinite(started) ? Math.max(0, now - started) : 0\nconst tools = Array.isArray(query.tools_used)\n  ? Array.from(new Set(query.tools_used.filter(Boolean)))\n  : []\nconst used = tools.length ? tools : ['code']\nconst memory = query.memory_references && typeof query.memory_references === 'object'\n  ? query.memory_references\n  : undefined\n\nif (query.status === 'error' || query.error) {\n  const err = query.error && typeof query.error === 'object' ? query.error : {}\n  return JSON.stringify({\n    status: 'error',\n    session_id: sid,\n    request_id: req,\n    error: {\n      type: err.type ?? query.type ?? 'workflow_error',\n      message: err.message ?? query.message ?? 'Workflow execution failed',\n      retries: Number.isFinite(err.retries) ? err.retries : Number.isFinite(query.retries) ? query.retries : 0,\n      last_attempt_url: err.last_attempt_url ?? query.url ?? query.last_attempt_url ?? null,\n    },\n    fallback_response: query.fallback_response ?? {\n      available: true,\n      message: 'Unable to fetch data from external source',\n    },\n    tools_used: used,\n    execution_time_ms: time,\n  })\n}\n\nreturn JSON.stringify({\n  status: query.status ?? 'success',\n  session_id: sid,\n  request_id: req,\n  result: val,\n  ...(memory ? { memory_references: memory } : {}),\n  tools_used: used,\n  execution_time_ms: time,\n})",
                    "specifyInputSchema": true,
                    "jsonSchemaExample": "{\n  \"status\": \"success\",\n  \"session_id\": \"test-session-001\",\n  \"context\": {\"request_id\": \"req_001\", \"timestamp\": \"2026-03-13T10:00:00Z\"},\n  \"result\": {\"id\": 1, \"title\": \"example\"},\n  \"tools_used\": [\"http_request\", \"code\"],\n  \"memory_references\": {\"keys_retrieved\": [\"user_preference\"]}\n}"
                }
            },
            {
                "id": "7",
                "name": "Respond to Webhook",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.4,
                "position": [
                    1260,
                    300
                ],
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ $json }}",
                    "options": {
                        "responseCode": 200
                    }
                }
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Session Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request Tool": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code Tool": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Admin Lee",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": []
    }
}
