n8n/workflows/hycu-lms-attendance.json
{
    "updatedAt": "2026-03-13T00:37:54.564Z",
    "createdAt": "2026-03-13T00:04:06.979Z",
    "id": "vLpLo8YauIrujzZt",
    "name": "HYCU LMS Attendance",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "typeVersion": 1.2,
            "id": "schedule-trigger",
            "name": "Weekday 17:00 KST",
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "expression": "0 8 * * 1-5",
                            "field": "cronExpression"
                        }
                    ]
                }
            },
            "position": [
                250,
                300
            ],
            "type": "n8n-nodes-base.scheduleTrigger"
        },
        {
            "id": "run-attendance",
            "name": "Run Attendance",
            "parameters": {
                "sendHeaders": true,
                "url": "={{ $env.HYCU_SERVICE_URL }}/api/attend",
                "authentication": "none",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.HYCU_SERVICE_API_KEY }}"
                        }
                    ]
                },
                "method": "POST",
                "options": {
                    "timeout": 180000
                }
            },
            "position": [
                470,
                300
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "continueOnFail": true
        },
        {
            "position": [
                690,
                300
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "id": "check-result",
            "name": "Check Result",
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "rightValue": "",
                            "id": "success-check",
                            "leftValue": "={{ $json.success }}",
                            "operator": {
                                "operation": "true",
                                "type": "boolean"
                            }
                        }
                    ],
                    "options": {
                        "leftValue": "",
                        "typeValidation": "strict",
                        "caseSensitive": true
                    }
                },
                "options": {}
            }
        },
        {
            "typeVersion": 2,
            "id": "format-success",
            "name": "Format Success",
            "parameters": {
                "jsCode": "const r = $input.first().json;\nconst s = (r.data && r.data.summary) || {};\nconst processed = s.processed || 0;\nconst succeeded = s.succeeded || 0;\nconst courses = s.coursesDiscovered || 0;\n\nreturn [{\n  json: {\n    channel: 'C0A1RFH7VL4',\n    text: `\u2705 *HYCU \uc218\uac15 \ucd9c\uc11d \uc644\ub8cc*\\n\uacfc\ubaa9: ${courses}\uac1c | \ucc98\ub9ac: ${processed}\uac74 | \uc131\uacf5: ${succeeded}\uac74`\n  }\n}];"
            },
            "position": [
                910,
                150
            ],
            "type": "n8n-nodes-base.code"
        },
        {
            "id": "wait-retry",
            "name": "Wait 60s",
            "parameters": {
                "resume": "timeInterval",
                "unit": "seconds",
                "amount": 60
            },
            "position": [
                910,
                450
            ],
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1
        },
        {
            "position": [
                1130,
                450
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "continueOnFail": true,
            "id": "retry-attendance",
            "name": "Retry Attendance",
            "parameters": {
                "method": "POST",
                "options": {
                    "timeout": 180000
                },
                "sendHeaders": true,
                "url": "={{ $env.HYCU_SERVICE_URL }}/api/attend",
                "authentication": "none",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.HYCU_SERVICE_API_KEY }}"
                        }
                    ]
                }
            }
        },
        {
            "position": [
                1350,
                450
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "id": "check-retry",
            "name": "Check Retry",
            "parameters": {
                "options": {},
                "conditions": {
                    "conditions": [
                        {
                            "id": "retry-check",
                            "leftValue": "={{ $json.success }}",
                            "operator": {
                                "operation": "true",
                                "type": "boolean"
                            },
                            "rightValue": ""
                        }
                    ],
                    "options": {
                        "typeValidation": "strict",
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "combinator": "and"
                }
            }
        },
        {
            "typeVersion": 2,
            "id": "format-retry-ok",
            "name": "Format Retry OK",
            "parameters": {
                "jsCode": "const r = $input.first().json;\nconst s = (r.data && r.data.summary) || {};\nconst processed = s.processed || 0;\nconst succeeded = s.succeeded || 0;\nconst courses = s.coursesDiscovered || 0;\n\nreturn [{\n  json: {\n    channel: 'C0A1RFH7VL4',\n    text: `\u2705 *HYCU \uc218\uac15 \ucd9c\uc11d \uc644\ub8cc (\uc7ac\uc2dc\ub3c4 \uc131\uacf5)*\\n\uacfc\ubaa9: ${courses}\uac1c | \ucc98\ub9ac: ${processed}\uac74 | \uc131\uacf5: ${succeeded}\uac74`\n  }\n}];"
            },
            "position": [
                1570,
                350
            ],
            "type": "n8n-nodes-base.code"
        },
        {
            "position": [
                1570,
                550
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "id": "format-failure",
            "name": "Format Failure",
            "parameters": {
                "jsCode": "const r = $input.first().json;\nconst isN8nError = r.error === true;\nlet errorMsg;\n\nif (isN8nError) {\n  errorMsg = `HTTP_${r.httpCode || '???'}: ${r.message || 'Unknown'}`;\n} else if (r.error && typeof r.error === 'object') {\n  errorMsg = `${r.error.code || 'ERROR'}: ${r.error.message || 'Unknown'}`;\n} else {\n  errorMsg = r.message || r.error || 'Unknown error';\n}\n\nreturn [{\n  json: {\n    channel: 'C0A1RFH7VL4',\n    text: `\u274c *HYCU \uc218\uac15 \ucd9c\uc11d \uc2e4\ud328*\\n\uc624\ub958: ${errorMsg}\\n\\n\ucd08\uae30 \uc2dc\ub3c4 \ubc0f \uc7ac\uc2dc\ub3c4 \ubaa8\ub450 \uc2e4\ud328\ud588\uc2b5\ub2c8\ub2e4.`\n  }\n}];"
            }
        },
        {
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "name": "Slack Notify",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Oq6RplVhTJ3Rr96J",
                    "name": "Slack Bot Token"
                }
            },
            "parameters": {
                "method": "POST",
                "options": {},
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, unfurl_links: false }) }}",
                "authentication": "genericCredentialType",
                "specifyBody": "json",
                "url": "https://slack.com/api/chat.postMessage",
                "sendHeaders": false
            },
            "retryOnFail": true,
            "waitBetweenTries": 2000,
            "position": [
                1790,
                400
            ],
            "id": "slack-notify",
            "maxTries": 3
        },
        {
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "id": "verify-slack",
            "name": "Verify Slack",
            "parameters": {
                "jsCode": "const r = $input.first().json;\nif (r.ok !== true) {\n  throw new Error(`Slack API error: ${r.error || 'unknown'}`);\n}\nreturn [{ json: r }];"
            },
            "position": [
                2010,
                400
            ]
        }
    ],
    "connections": {
        "Run Attendance": {
            "main": [
                [
                    {
                        "type": "main",
                        "index": 0,
                        "node": "Check Result"
                    }
                ]
            ]
        },
        "Weekday 17:00 KST": {
            "main": [
                [
                    {
                        "type": "main",
                        "index": 0,
                        "node": "Run Attendance"
                    }
                ]
            ]
        },
        "Format Success": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Slack Notify",
                        "type": "main"
                    }
                ]
            ]
        },
        "Check Result": {
            "main": [
                [
                    {
                        "node": "Format Success",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait 60s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Failure": {
            "main": [
                [
                    {
                        "node": "Slack Notify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Retry OK": {
            "main": [
                [
                    {
                        "type": "main",
                        "index": 0,
                        "node": "Slack Notify"
                    }
                ]
            ]
        },
        "Check Retry": {
            "main": [
                [
                    {
                        "node": "Format Retry OK",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "index": 0,
                        "node": "Format Failure",
                        "type": "main"
                    }
                ]
            ]
        },
        "Slack Notify": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Verify Slack",
                        "type": "main"
                    }
                ]
            ]
        },
        "Wait 60s": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Retry Attendance",
                        "type": "main"
                    }
                ]
            ]
        },
        "Retry Attendance": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Check Retry",
                        "type": "main"
                    }
                ]
            ]
        }
    },
    "settings": {
        "saveExecutionProgress": true,
        "saveManualExecutions": true,
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all",
        "executionTimeout": 3600,
        "timezone": "UTC",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Weekday 17:00 KST": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "e1de787e-75b6-41cf-9fca-07d17b3d739d",
    "activeVersionId": "e1de787e-75b6-41cf-9fca-07d17b3d739d",
    "versionCounter": 17,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-13T00:04:06.979Z",
            "createdAt": "2026-03-13T00:04:06.979Z",
            "role": "workflow:owner",
            "workflowId": "vLpLo8YauIrujzZt",
            "projectId": "zHsUy9n7V6UwMbDk",
            "project": {
                "updatedAt": "2026-03-13T00:15:47.965Z",
                "createdAt": "2026-03-12T15:49:43.032Z",
                "id": "zHsUy9n7V6UwMbDk",
                "name": "Admin Lee <admin@jclee.me>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "13a95845-a46a-4855-b706-eadada0dd04c"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-13T00:37:54.565Z",
        "createdAt": "2026-03-13T00:37:54.565Z",
        "versionId": "e1de787e-75b6-41cf-9fca-07d17b3d739d",
        "workflowId": "vLpLo8YauIrujzZt",
        "nodes": [
            {
                "typeVersion": 1.2,
                "id": "schedule-trigger",
                "name": "Weekday 17:00 KST",
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "expression": "0 8 * * 1-5",
                                "field": "cronExpression"
                            }
                        ]
                    }
                },
                "position": [
                    250,
                    300
                ],
                "type": "n8n-nodes-base.scheduleTrigger"
            },
            {
                "id": "run-attendance",
                "name": "Run Attendance",
                "parameters": {
                    "sendHeaders": true,
                    "url": "={{ $env.HYCU_SERVICE_URL }}/api/attend",
                    "authentication": "none",
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "x-api-key",
                                "value": "={{ $env.HYCU_SERVICE_API_KEY }}"
                            }
                        ]
                    },
                    "method": "POST",
                    "options": {
                        "timeout": 180000
                    }
                },
                "position": [
                    470,
                    300
                ],
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "continueOnFail": true
            },
            {
                "position": [
                    690,
                    300
                ],
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "id": "check-result",
                "name": "Check Result",
                "parameters": {
                    "conditions": {
                        "combinator": "and",
                        "conditions": [
                            {
                                "rightValue": "",
                                "id": "success-check",
                                "leftValue": "={{ $json.success }}",
                                "operator": {
                                    "operation": "true",
                                    "type": "boolean"
                                }
                            }
                        ],
                        "options": {
                            "leftValue": "",
                            "typeValidation": "strict",
                            "caseSensitive": true
                        }
                    },
                    "options": {}
                }
            },
            {
                "typeVersion": 2,
                "id": "format-success",
                "name": "Format Success",
                "parameters": {
                    "jsCode": "const r = $input.first().json;\nconst s = (r.data && r.data.summary) || {};\nconst processed = s.processed || 0;\nconst succeeded = s.succeeded || 0;\nconst courses = s.coursesDiscovered || 0;\n\nreturn [{\n  json: {\n    channel: 'C0A1RFH7VL4',\n    text: `\u2705 *HYCU \uc218\uac15 \ucd9c\uc11d \uc644\ub8cc*\\n\uacfc\ubaa9: ${courses}\uac1c | \ucc98\ub9ac: ${processed}\uac74 | \uc131\uacf5: ${succeeded}\uac74`\n  }\n}];"
                },
                "position": [
                    910,
                    150
                ],
                "type": "n8n-nodes-base.code"
            },
            {
                "id": "wait-retry",
                "name": "Wait 60s",
                "parameters": {
                    "resume": "timeInterval",
                    "unit": "seconds",
                    "amount": 60
                },
                "position": [
                    910,
                    450
                ],
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1.1
            },
            {
                "position": [
                    1130,
                    450
                ],
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "continueOnFail": true,
                "id": "retry-attendance",
                "name": "Retry Attendance",
                "parameters": {
                    "method": "POST",
                    "options": {
                        "timeout": 180000
                    },
                    "sendHeaders": true,
                    "url": "={{ $env.HYCU_SERVICE_URL }}/api/attend",
                    "authentication": "none",
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "x-api-key",
                                "value": "={{ $env.HYCU_SERVICE_API_KEY }}"
                            }
                        ]
                    }
                }
            },
            {
                "position": [
                    1350,
                    450
                ],
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "id": "check-retry",
                "name": "Check Retry",
                "parameters": {
                    "options": {},
                    "conditions": {
                        "conditions": [
                            {
                                "id": "retry-check",
                                "leftValue": "={{ $json.success }}",
                                "operator": {
                                    "operation": "true",
                                    "type": "boolean"
                                },
                                "rightValue": ""
                            }
                        ],
                        "options": {
                            "typeValidation": "strict",
                            "caseSensitive": true,
                            "leftValue": ""
                        },
                        "combinator": "and"
                    }
                }
            },
            {
                "typeVersion": 2,
                "id": "format-retry-ok",
                "name": "Format Retry OK",
                "parameters": {
                    "jsCode": "const r = $input.first().json;\nconst s = (r.data && r.data.summary) || {};\nconst processed = s.processed || 0;\nconst succeeded = s.succeeded || 0;\nconst courses = s.coursesDiscovered || 0;\n\nreturn [{\n  json: {\n    channel: 'C0A1RFH7VL4',\n    text: `\u2705 *HYCU \uc218\uac15 \ucd9c\uc11d \uc644\ub8cc (\uc7ac\uc2dc\ub3c4 \uc131\uacf5)*\\n\uacfc\ubaa9: ${courses}\uac1c | \ucc98\ub9ac: ${processed}\uac74 | \uc131\uacf5: ${succeeded}\uac74`\n  }\n}];"
                },
                "position": [
                    1570,
                    350
                ],
                "type": "n8n-nodes-base.code"
            },
            {
                "position": [
                    1570,
                    550
                ],
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "id": "format-failure",
                "name": "Format Failure",
                "parameters": {
                    "jsCode": "const r = $input.first().json;\nconst isN8nError = r.error === true;\nlet errorMsg;\n\nif (isN8nError) {\n  errorMsg = `HTTP_${r.httpCode || '???'}: ${r.message || 'Unknown'}`;\n} else if (r.error && typeof r.error === 'object') {\n  errorMsg = `${r.error.code || 'ERROR'}: ${r.error.message || 'Unknown'}`;\n} else {\n  errorMsg = r.message || r.error || 'Unknown error';\n}\n\nreturn [{\n  json: {\n    channel: 'C0A1RFH7VL4',\n    text: `\u274c *HYCU \uc218\uac15 \ucd9c\uc11d \uc2e4\ud328*\\n\uc624\ub958: ${errorMsg}\\n\\n\ucd08\uae30 \uc2dc\ub3c4 \ubc0f \uc7ac\uc2dc\ub3c4 \ubaa8\ub450 \uc2e4\ud328\ud588\uc2b5\ub2c8\ub2e4.`\n  }\n}];"
                }
            },
            {
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "name": "Slack Notify",
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "Oq6RplVhTJ3Rr96J",
                        "name": "Slack Bot Token"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "options": {},
                    "genericAuthType": "httpHeaderAuth",
                    "sendBody": true,
                    "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, unfurl_links: false }) }}",
                    "authentication": "genericCredentialType",
                    "specifyBody": "json",
                    "url": "https://slack.com/api/chat.postMessage",
                    "sendHeaders": false
                },
                "retryOnFail": true,
                "waitBetweenTries": 2000,
                "position": [
                    1790,
                    400
                ],
                "id": "slack-notify",
                "maxTries": 3
            },
            {
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "id": "verify-slack",
                "name": "Verify Slack",
                "parameters": {
                    "jsCode": "const r = $input.first().json;\nif (r.ok !== true) {\n  throw new Error(`Slack API error: ${r.error || 'unknown'}`);\n}\nreturn [{ json: r }];"
                },
                "position": [
                    2010,
                    400
                ]
            }
        ],
        "connections": {
            "Run Attendance": {
                "main": [
                    [
                        {
                            "type": "main",
                            "index": 0,
                            "node": "Check Result"
                        }
                    ]
                ]
            },
            "Weekday 17:00 KST": {
                "main": [
                    [
                        {
                            "type": "main",
                            "index": 0,
                            "node": "Run Attendance"
                        }
                    ]
                ]
            },
            "Format Success": {
                "main": [
                    [
                        {
                            "index": 0,
                            "node": "Slack Notify",
                            "type": "main"
                        }
                    ]
                ]
            },
            "Check Result": {
                "main": [
                    [
                        {
                            "node": "Format Success",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Wait 60s",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Failure": {
                "main": [
                    [
                        {
                            "node": "Slack Notify",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Retry OK": {
                "main": [
                    [
                        {
                            "type": "main",
                            "index": 0,
                            "node": "Slack Notify"
                        }
                    ]
                ]
            },
            "Check Retry": {
                "main": [
                    [
                        {
                            "node": "Format Retry OK",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "index": 0,
                            "node": "Format Failure",
                            "type": "main"
                        }
                    ]
                ]
            },
            "Slack Notify": {
                "main": [
                    [
                        {
                            "index": 0,
                            "node": "Verify Slack",
                            "type": "main"
                        }
                    ]
                ]
            },
            "Wait 60s": {
                "main": [
                    [
                        {
                            "index": 0,
                            "node": "Retry Attendance",
                            "type": "main"
                        }
                    ]
                ]
            },
            "Retry Attendance": {
                "main": [
                    [
                        {
                            "index": 0,
                            "node": "Check Retry",
                            "type": "main"
                        }
                    ]
                ]
            }
        },
        "authors": "Admin Lee",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-13T00:37:54.578Z",
                "id": 26,
                "workflowId": "vLpLo8YauIrujzZt",
                "versionId": "e1de787e-75b6-41cf-9fca-07d17b3d739d",
                "event": "deactivated",
                "userId": "13a95845-a46a-4855-b706-eadada0dd04c"
            },
            {
                "createdAt": "2026-03-13T00:37:54.584Z",
                "id": 27,
                "workflowId": "vLpLo8YauIrujzZt",
                "versionId": "e1de787e-75b6-41cf-9fca-07d17b3d739d",
                "event": "activated",
                "userId": "13a95845-a46a-4855-b706-eadada0dd04c"
            }
        ]
    }
}
