n8n/workflows/opencode-agent-callback.json
{
  "id": "SyANkPq5gdvjZHsI",
  "name": "opencode-agent-callback",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "opencode-agent/callback",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "callback-webhook",
      "name": "Receive Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\n\nconst job_id = body.job_id || null;\nconst status = body.status || 'unknown';\nconst result = body.result ?? null;\nconst error = body.error ?? null;\nconst duration_ms = typeof body.duration_ms === 'number' ? body.duration_ms : null;\nconst completed_at = body.completed_at || new Date().toISOString();\n\nconst truncate = (value, max = 500) => {\n  if (value === null || value === undefined) return null;\n  const text = typeof value === 'string' ? value : JSON.stringify(value);\n  return text.length > max ? `${text.slice(0, max)}...` : text;\n};\n\nconst summaryText = status === 'completed'\n  ? truncate(result, 400) || 'Completed without payload'\n  : truncate(error, 400) || 'Failed without error payload';\n\nconst blockKit = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `Opencode Agent ${status.toUpperCase()}`\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Job ID:*\\n${job_id || 'unknown'}` },\n      { type: 'mrkdwn', text: `*Status:*\\n${status}` },\n      { type: 'mrkdwn', text: `*Duration:*\\n${duration_ms !== null ? `${duration_ms}ms` : 'n/a'}` },\n      { type: 'mrkdwn', text: `*Completed:*\\n${completed_at}` }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Summary:*\\n\\`\\`\\`${summaryText || 'n/a'}\\`\\`\\``\n    }\n  }\n];\n\nconsole.log('opencode-agent callback received', {\n  job_id,\n  status,\n  duration_ms,\n  completed_at,\n});\n\nreturn {\n  job_id,\n  status,\n  result,\n  error,\n  duration_ms,\n  completed_at,\n  blockKit,\n  channel: 'opencode-agent',\n  command: 'dispatch-callback',\n  duration: duration_ms !== null ? Math.round(duration_ms / 1000) : null,\n  errorMessage: truncate(error, 500),\n  isSuccess: status === 'completed',\n  source: 'opencode-agent',\n  outputUrl: null,\n  timedOut: status === 'timeout',\n  pollCount: null,\n};"
      },
      "id": "process-callback",
      "name": "Log & Route Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "PV5yLgHNzNSlCmRT"
      },
      "id": "notify-slack",
      "name": "Notify via Slack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Receive Callback": {
      "main": [
        [
          {
            "node": "Log & Route Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log & Route Callback": {
      "main": [
        [
          {
            "node": "Notify via Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 30,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Seoul"
  }
}
