n8n/workflows/user-request-tracker.json
{
    "updatedAt": "2026-03-12T17:21:01.231Z",
    "createdAt": "2026-03-12T17:21:01.231Z",
    "id": "thkftd6G5crVkFnx",
    "name": "User Request Tracker",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "github-issue",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "GitHub Issue Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "d69a3143-25e4-4b56-8794-99acaa9276e9"
        },
        {
            "parameters": {
                "jsCode": "// Parse GitHub issue webhook\nconst body = $input.first().json.body || $input.first().json;\nconst action = body.action;\nconst issue = body.issue || {};\nconst labels = (issue.labels || []).map(l => l.name);\nconst hasUserRequest = labels.includes('user-request');\nconst hasAutomated = labels.includes('automated');\n\n// Calculate current week milestone name\nconst now = new Date();\nconst year = now.getFullYear();\nconst startOfYear = new Date(year, 0, 1);\nconst days = Math.floor((now - startOfYear) / 86400000);\nconst weekNum = Math.ceil((days + startOfYear.getDay() + 1) / 7);\nconst milestoneTitle = `Week ${year}-W${String(weekNum).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    action,\n    isOpened: action === 'opened',\n    hasUserRequest,\n    hasAutomated,\n    shouldProcess: action === 'opened' && hasUserRequest,\n    issueNumber: issue.number,\n    issueTitle: issue.title || '',\n    issueBody: issue.body || '',\n    existingLabels: labels,\n    repo: (body.repository || {}).full_name || 'qws941/terraform',\n    milestoneTitle\n  }\n}];"
            },
            "id": "parse-event",
            "name": "Parse Issue Event",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "should-process",
                            "leftValue": "={{ $json.shouldProcess }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-requests",
            "name": "Is User Request?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                940,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.github.com/repos/{{ $json.repo }}/issues/{{ $json.issueNumber }}/comments",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"body\": \"## Request Processing Checklist\\n\\n- [ ] Request reviewed and understood\\n- [ ] Priority assigned\\n- [ ] Implementation plan created\\n- [ ] Implementation completed\\n- [ ] Testing done\\n- [ ] Deployed and verified\\n- [ ] Requester notified\\n\\n---\\n*Auto-generated by n8n request tracker*\"\n}",
                "options": {}
            },
            "id": "add-checklist",
            "name": "Add Checklist Comment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                400
            ],
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 1000
        },
        {
            "parameters": {
                "jsCode": "// Find or create milestone for current week (with error handling)\nconst input = $input.first().json;\nconst repo = input.repo;\nconst milestoneTitle = input.milestoneTitle;\nconst issueNumber = input.issueNumber;\nconst token = $env.GITHUB_TOKEN;\n\nconst headers = {\n  'Authorization': `Bearer ${token}`,\n  'Accept': 'application/vnd.github+json',\n  'Content-Type': 'application/json'\n};\n\ntry {\n  // List milestones to find current week\n  const listRes = await fetch(`https://api.github.com/repos/${repo}/milestones?state=open`, { headers });\n  if (!listRes.ok) {\n    throw new Error(`List milestones failed: ${listRes.status} ${listRes.statusText}`);\n  }\n  const milestones = await listRes.json();\n  let milestone = milestones.find(m => m.title === milestoneTitle);\n\n  // Create if not exists\n  if (!milestone) {\n    const createRes = await fetch(`https://api.github.com/repos/${repo}/milestones`, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({ title: milestoneTitle })\n    });\n    if (!createRes.ok) {\n      throw new Error(`Create milestone failed: ${createRes.status} ${createRes.statusText}`);\n    }\n    milestone = await createRes.json();\n  }\n\n  // Assign issue to milestone\n  if (milestone && milestone.number) {\n    const patchRes = await fetch(`https://api.github.com/repos/${repo}/issues/${issueNumber}`, {\n      method: 'PATCH',\n      headers,\n      body: JSON.stringify({ milestone: milestone.number })\n    });\n    if (!patchRes.ok) {\n      throw new Error(`Assign milestone failed: ${patchRes.status} ${patchRes.statusText}`);\n    }\n  }\n\n  return [{ json: { milestoneTitle, milestoneNumber: milestone?.number, issueNumber, assigned: true } }];\n} catch (error) {\n  console.error(`[Assign Milestone] Error: ${error.message}`);\n  return [{ json: { milestoneTitle, issueNumber, assigned: false, error: error.message } }];\n}"
            },
            "id": "assign-milestone",
            "name": "Assign Milestone",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                600
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "is-opened",
                            "leftValue": "={{ $json.isOpened }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        },
                        {
                            "id": "not-automated",
                            "leftValue": "={{ $json.hasAutomated }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "false"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "is-opened-filter",
            "name": "Is Opened & Not Automated?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                720,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const title = ($json.issueTitle || '').toLowerCase();\nconst body = ($json.issueBody || '').toLowerCase();\nconst searchText = title + ' ' + body;\nconst existingLabels = $json.existingLabels || [];\n\nconst KEYWORD_MAP = {\n  'terraform': 'infra', 'infrastructure': 'infra',\n  'mcphub': 'svc:mcphub', 'opencode': 'svc:mcphub',\n  'grafana': 'svc:grafana', 'prometheus': 'svc:grafana', 'alerting': 'svc:grafana', 'dashboard': 'svc:grafana',\n  'elk': 'svc:elk', 'elasticsearch': 'svc:elk', 'logstash': 'svc:elk', 'kibana': 'svc:elk', 'filebeat': 'svc:elk',\n  'traefik': 'svc:traefik', 'reverse proxy': 'svc:traefik', 'routing': 'svc:traefik', 'certificate': 'svc:traefik',\n  'n8n': 'svc:n8n', 'workflow': 'svc:n8n', 'webhook': 'svc:n8n',\n  'blacklist': 'svc:blacklist',\n  'proxmox': 'svc:proxmox', 'ceph': 'svc:proxmox', 'lxc': 'svc:proxmox',\n  'security': 'P1-high', 'vulnerability': 'P1-high', 'cve': 'P1-high'\n};\n\nconst newLabels = new Set();\nfor (const [keyword, label] of Object.entries(KEYWORD_MAP)) {\n  if (searchText.includes(keyword) && !existingLabels.includes(label)) {\n    newLabels.add(label);\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    newLabels: [...newLabels],\n    hasNewLabels: newLabels.size > 0\n  }\n}];"
            },
            "id": "auto-label",
            "name": "Auto Label",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                940,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-labels",
                            "leftValue": "={{ $json.hasNewLabels }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "has-labels-filter",
            "name": "Has New Labels?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1160,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.github.com/repos/{{ $json.repo }}/issues/{{ $json.issueNumber }}/labels",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ labels: $json.newLabels }) }}",
                "options": {}
            },
            "id": "apply-labels",
            "name": "Apply Labels",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1380,
                100
            ],
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 1000
        }
    ],
    "connections": {
        "GitHub Issue Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Issue Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Issue Event": {
            "main": [
                [
                    {
                        "node": "Is Opened & Not Automated?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Opened & Not Automated?": {
            "main": [
                [
                    {
                        "node": "Auto Label",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Is User Request?",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Auto Label": {
            "main": [
                [
                    {
                        "node": "Has New Labels?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has New Labels?": {
            "main": [
                [
                    {
                        "node": "Apply Labels",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Is User Request?": {
            "main": [
                [
                    {
                        "node": "Add Checklist Comment",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Assign Milestone",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "48208599-cf3c-422a-89ba-7b2d354a5909",
    "activeVersionId": "48208599-cf3c-422a-89ba-7b2d354a5909",
    "versionCounter": 6,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-12T17:21:01.231Z",
            "createdAt": "2026-03-12T17:21:01.231Z",
            "role": "workflow:owner",
            "workflowId": "thkftd6G5crVkFnx",
            "projectId": "zHsUy9n7V6UwMbDk",
            "project": {
                "updatedAt": "2026-03-13T00:15:47.965Z",
                "createdAt": "2026-03-12T15:49:43.032Z",
                "id": "zHsUy9n7V6UwMbDk",
                "name": "Admin Lee <admin@jclee.me>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "13a95845-a46a-4855-b706-eadada0dd04c"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-12T17:21:01.238Z",
        "createdAt": "2026-03-12T17:21:01.238Z",
        "versionId": "48208599-cf3c-422a-89ba-7b2d354a5909",
        "workflowId": "thkftd6G5crVkFnx",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "github-issue",
                    "options": {}
                },
                "id": "webhook-trigger",
                "name": "GitHub Issue Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    250,
                    300
                ],
                "webhookId": "d69a3143-25e4-4b56-8794-99acaa9276e9"
            },
            {
                "parameters": {
                    "jsCode": "// Parse GitHub issue webhook\nconst body = $input.first().json.body || $input.first().json;\nconst action = body.action;\nconst issue = body.issue || {};\nconst labels = (issue.labels || []).map(l => l.name);\nconst hasUserRequest = labels.includes('user-request');\nconst hasAutomated = labels.includes('automated');\n\n// Calculate current week milestone name\nconst now = new Date();\nconst year = now.getFullYear();\nconst startOfYear = new Date(year, 0, 1);\nconst days = Math.floor((now - startOfYear) / 86400000);\nconst weekNum = Math.ceil((days + startOfYear.getDay() + 1) / 7);\nconst milestoneTitle = `Week ${year}-W${String(weekNum).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    action,\n    isOpened: action === 'opened',\n    hasUserRequest,\n    hasAutomated,\n    shouldProcess: action === 'opened' && hasUserRequest,\n    issueNumber: issue.number,\n    issueTitle: issue.title || '',\n    issueBody: issue.body || '',\n    existingLabels: labels,\n    repo: (body.repository || {}).full_name || 'qws941/terraform',\n    milestoneTitle\n  }\n}];"
                },
                "id": "parse-event",
                "name": "Parse Issue Event",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    500,
                    300
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "should-process",
                                "leftValue": "={{ $json.shouldProcess }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "filter-requests",
                "name": "Is User Request?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    940,
                    500
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "=https://api.github.com/repos/{{ $json.repo }}/issues/{{ $json.issueNumber }}/comments",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
                            },
                            {
                                "name": "Accept",
                                "value": "application/vnd.github+json"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"body\": \"## Request Processing Checklist\\n\\n- [ ] Request reviewed and understood\\n- [ ] Priority assigned\\n- [ ] Implementation plan created\\n- [ ] Implementation completed\\n- [ ] Testing done\\n- [ ] Deployed and verified\\n- [ ] Requester notified\\n\\n---\\n*Auto-generated by n8n request tracker*\"\n}",
                    "options": {}
                },
                "id": "add-checklist",
                "name": "Add Checklist Comment",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1200,
                    400
                ],
                "retryOnFail": true,
                "maxTries": 3,
                "waitBetweenTries": 1000
            },
            {
                "parameters": {
                    "jsCode": "// Find or create milestone for current week (with error handling)\nconst input = $input.first().json;\nconst repo = input.repo;\nconst milestoneTitle = input.milestoneTitle;\nconst issueNumber = input.issueNumber;\nconst token = $env.GITHUB_TOKEN;\n\nconst headers = {\n  'Authorization': `Bearer ${token}`,\n  'Accept': 'application/vnd.github+json',\n  'Content-Type': 'application/json'\n};\n\ntry {\n  // List milestones to find current week\n  const listRes = await fetch(`https://api.github.com/repos/${repo}/milestones?state=open`, { headers });\n  if (!listRes.ok) {\n    throw new Error(`List milestones failed: ${listRes.status} ${listRes.statusText}`);\n  }\n  const milestones = await listRes.json();\n  let milestone = milestones.find(m => m.title === milestoneTitle);\n\n  // Create if not exists\n  if (!milestone) {\n    const createRes = await fetch(`https://api.github.com/repos/${repo}/milestones`, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify({ title: milestoneTitle })\n    });\n    if (!createRes.ok) {\n      throw new Error(`Create milestone failed: ${createRes.status} ${createRes.statusText}`);\n    }\n    milestone = await createRes.json();\n  }\n\n  // Assign issue to milestone\n  if (milestone && milestone.number) {\n    const patchRes = await fetch(`https://api.github.com/repos/${repo}/issues/${issueNumber}`, {\n      method: 'PATCH',\n      headers,\n      body: JSON.stringify({ milestone: milestone.number })\n    });\n    if (!patchRes.ok) {\n      throw new Error(`Assign milestone failed: ${patchRes.status} ${patchRes.statusText}`);\n    }\n  }\n\n  return [{ json: { milestoneTitle, milestoneNumber: milestone?.number, issueNumber, assigned: true } }];\n} catch (error) {\n  console.error(`[Assign Milestone] Error: ${error.message}`);\n  return [{ json: { milestoneTitle, issueNumber, assigned: false, error: error.message } }];\n}"
                },
                "id": "assign-milestone",
                "name": "Assign Milestone",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1200,
                    600
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "is-opened",
                                "leftValue": "={{ $json.isOpened }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true"
                                }
                            },
                            {
                                "id": "not-automated",
                                "leftValue": "={{ $json.hasAutomated }}",
                                "rightValue": false,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "false"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "is-opened-filter",
                "name": "Is Opened & Not Automated?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    720,
                    300
                ]
            },
            {
                "parameters": {
                    "jsCode": "const title = ($json.issueTitle || '').toLowerCase();\nconst body = ($json.issueBody || '').toLowerCase();\nconst searchText = title + ' ' + body;\nconst existingLabels = $json.existingLabels || [];\n\nconst KEYWORD_MAP = {\n  'terraform': 'infra', 'infrastructure': 'infra',\n  'mcphub': 'svc:mcphub', 'opencode': 'svc:mcphub',\n  'grafana': 'svc:grafana', 'prometheus': 'svc:grafana', 'alerting': 'svc:grafana', 'dashboard': 'svc:grafana',\n  'elk': 'svc:elk', 'elasticsearch': 'svc:elk', 'logstash': 'svc:elk', 'kibana': 'svc:elk', 'filebeat': 'svc:elk',\n  'traefik': 'svc:traefik', 'reverse proxy': 'svc:traefik', 'routing': 'svc:traefik', 'certificate': 'svc:traefik',\n  'n8n': 'svc:n8n', 'workflow': 'svc:n8n', 'webhook': 'svc:n8n',\n  'blacklist': 'svc:blacklist',\n  'proxmox': 'svc:proxmox', 'ceph': 'svc:proxmox', 'lxc': 'svc:proxmox',\n  'security': 'P1-high', 'vulnerability': 'P1-high', 'cve': 'P1-high'\n};\n\nconst newLabels = new Set();\nfor (const [keyword, label] of Object.entries(KEYWORD_MAP)) {\n  if (searchText.includes(keyword) && !existingLabels.includes(label)) {\n    newLabels.add(label);\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    newLabels: [...newLabels],\n    hasNewLabels: newLabels.size > 0\n  }\n}];"
                },
                "id": "auto-label",
                "name": "Auto Label",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    940,
                    200
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "has-labels",
                                "leftValue": "={{ $json.hasNewLabels }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "has-labels-filter",
                "name": "Has New Labels?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    1160,
                    200
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "=https://api.github.com/repos/{{ $json.repo }}/issues/{{ $json.issueNumber }}/labels",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
                            },
                            {
                                "name": "Accept",
                                "value": "application/vnd.github+json"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ labels: $json.newLabels }) }}",
                    "options": {}
                },
                "id": "apply-labels",
                "name": "Apply Labels",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1380,
                    100
                ],
                "retryOnFail": true,
                "maxTries": 3,
                "waitBetweenTries": 1000
            }
        ],
        "connections": {
            "GitHub Issue Webhook": {
                "main": [
                    [
                        {
                            "node": "Parse Issue Event",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Issue Event": {
                "main": [
                    [
                        {
                            "node": "Is Opened & Not Automated?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Opened & Not Automated?": {
                "main": [
                    [
                        {
                            "node": "Auto Label",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Is User Request?",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Auto Label": {
                "main": [
                    [
                        {
                            "node": "Has New Labels?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has New Labels?": {
                "main": [
                    [
                        {
                            "node": "Apply Labels",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Is User Request?": {
                "main": [
                    [
                        {
                            "node": "Add Checklist Comment",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Assign Milestone",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "JC Lee",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-12T17:21:32.969Z",
                "id": 4,
                "workflowId": "thkftd6G5crVkFnx",
                "versionId": "48208599-cf3c-422a-89ba-7b2d354a5909",
                "event": "activated",
                "userId": "13a95845-a46a-4855-b706-eadada0dd04c"
            }
        ]
    }
}
